footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: 5em auto auto auto;
  padding: 1.625em 0 1.5625em;
}

.footer div {
  display: table;
  width: 100%;
}

.footer div div:nth-child(1) {
  margin: 0 .6em;	
  clear: none;
  float: left;
  width: 16.66667%;
  display: block;
}

.footer div div:nth-child(2) {
  margin-left: 0;	
  clear: none;
  float: left;
  width: 58.33333%;
  display: block;
}

.footer div div:nth-child(3) {
  margin: 0 .6em;	
  clear: none;
  float: left;
  width: 8.33333%;
  display: block;
}

.footer div div:nth-child(4) {
  margin: 0 .6em;	
  clear: none;
  float: left;
  width: 8.33333%;
  display: block;
}

footer .footer p {
  margin: 0;
  text-align: center; 
  font-size: 16px; 
  font-weight: 400;
}

footer .footer img {
  display: block;
  margin: 0 auto;	
  width: 9.2em;
  height: auto;
}

footer .footer h6 {
  color: #607d8b;
  font-size: .625em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}